*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, rgba(37, 100, 235, 0.358));
}

.prueba{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:400px ;
    gap: 20px;
}

.caja1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgba(240, 6, 6, 0.5);
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.caja2{
    display: flex;
    background-color: rgba(red, green, blue, alpha);
    height: 400px;
    width: 600px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.caja3{
    display: flex;
    background-color: rgba(red, green, blue, alpha);
    height: 400px;
    width: 600px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.caja4{
    display: flex;
    background-color: rgba(red, green, blue, alpha);
    height: 400px;
    width: 600px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}